* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    margin: 0;
}

.nav-links {
    display: flex;
    column-gap: 1em;
    list-style-type: none;
}

.nav-links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: center;

}

.img-area img {
    width: 400px;
    height: auto;
}