* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1F2937;
    padding: 1em 15em;
}

header h1,h3 {
    color: #F9FAF8;
}

header p, a, button {
    font-size: 18px;
    color: #E5E7EB;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    margin: 0;
}

.nav-links {
    display: flex;
    column-gap: 1em;
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
}

.hero {
    margin: 4em 0 4em;
    display: flex;
    justify-content: space-between;
    
}

.hero-text {
    width: 450px;
}

.hero h1 {
    margin: 0;
    font-size: 48px;
}

.hero p {
    margin: 18px 0 18px 0;
}

.hero button {
    background-color: #3882F6;
    padding: 6px 18px 6px 18px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.hero button:hover {
    cursor: pointer;
}

.hero-img img {
    width: 450px;
    height: auto;
}